
@{
    ViewBag.Title = "Liste des photos";
    bool showSearch = Session["PhotosShowSearch"] != null && (bool)Session["PhotosShowSearch"];

}

<div id="PhotosPanel" class='photosLayout'> <!-- Auto refreshed panel --></div>

@section Scripts {
    <script>

        $(() => {
            let PhotosPanel = new AutoRefreshedPanel("PhotosPanel", "/Photos/GetPhotos", GPRR, attachEvent);

            var timeout = null;
            $('#searchToken').keyup(function () {
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    PhotosPanel.command("/Photos/SetSearchKeywords?keywords=" + $(this).val());
                }, 1000);
            });

            function attachEvent() {
                $("#PhotosPanel .fa-thumbs-up").click(function (e) {
                    PhotosPanel.command("/Photos/TogglePhotoLike/" + $(this).attr("photoId"));
                    e.preventDefault();
                });
            }
            $('#searchToken').change(function () {
                PhotosPanel.command("/Photos/SetSearchKeywords?keywords=" + $(this).val());
            });
            $('#searchToken').on("search", function () {
                PhotosPanel.command("/Photos/SetSearchKeywords?keywords=" + $(this).val());
            });
            // ascending sort of select option values
            /*$("#SelectedUser").html($("#SelectedUser option").sort(function (a, b) {
                return a.text == b.text ? 0 : a.text > b.text ? 1 : -1
            }))*/
            $('#SelectedUser').change(function () {
                PhotosPanel.command("/Photos/SetPhotoOwnerSearchId?id=" + $(this).val());
            })

            $("#SelectedUser option").each(function () {
                //$(this).text($(this).text().slice($(this).text().indexOf("-")+2));
            });
        })
    </script>
}